.about {
  min-height: calc(100vh - 188px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    max-width: 800px;
    font-size: $font-medium;
  }
  button {
    width: 50px;
    height: 40px;
    margin: 2rem 0 1rem 0;
    border: 0;
    border-radius: 0.5rem;
    background-color: transparent;
  }
  svg {
    color: #ffffffc0;
  }
}
